<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Handle tools routing -->
                <rule name="Tools Routing" stopProcessing="true">
                    <match url="^tools/?$" />
                    <action type="Rewrite" url="tools.html" />
                </rule>
                
                <!-- Handle numerology routing -->
                <rule name="Numerology Routing" stopProcessing="true">
                    <match url="^numerology/?$" />
                    <action type="Rewrite" url="numerology.html" />
                </rule>
                
                <!-- Handle other pages -->
                <rule name="SPA Routing" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration> 